In [9]:
import numpy as np 
import pandas as pd

In [12]:
data = pd.read_csv('Big_Mart_Sales_Figure.csv')
data.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [13]:
data.shape

(8523, 12)

In [6]:
data.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  7060.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.643456  ...        1706.499616
min       4.555000  ...          33.290000
25%       8.773750  ...         834.247400
50%      12.600000  ...        1794.331000
75%      16.850000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]

In [7]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [8]:
data['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [9]:
data['Item_Fat_Content'] = data['Item_Fat_Content'].str.replace('Low Fat','LF')
data['Item_Fat_Content'] = data['Item_Fat_Content'].str.replace('low fat','LF')
data['Item_Fat_Content'] = data['Item_Fat_Content'].str.replace('Regular','reg')

In [10]:
data['Item_Fat_Content'].unique()

array(['LF', 'reg'], dtype=object)

In [16]:
data.groupby('Item_Fat_Content')['Item_Weight'].mean()

Item_Fat_Content
LF         12.803212
Low Fat    12.953079
Regular    12.705840
low fat    12.563988
reg        12.842642
Name: Item_Weight, dtype: float64

In [17]:
data.groupby('Outlet_Type')['Outlet_Size'].value_counts()

Outlet_Type        Outlet_Size
Grocery Store      Small           528
Supermarket Type1  Small          1860
                   High            932
                   Medium          930
Supermarket Type2  Medium          928
Supermarket Type3  Medium          935
Name: Outlet_Size, dtype: int64

In [18]:
data['Item_Identifier'].value_counts()

FDW13    10
FDG33    10
FDW26     9
NCQ06     9
NCJ30     9
         ..
FDY43     1
FDE52     1
FDC23     1
FDQ60     1
FDK57     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [19]:
k = 'FDU12'
k[0:2]

'FD'

In [20]:
def item_identity(x):
  return x[0:2]

In [21]:
data['Item_Identifier'] = data['Item_Identifier'].apply(item_identity)

In [22]:
data['Item_Identifier'].value_counts()

FD    6125
NC    1599
DR     799
Name: Item_Identifier, dtype: int64

In [23]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [24]:
data.groupby('Item_Identifier')['Item_Weight'].mean()

Item_Identifier
DR    12.072348
FD    12.832186
NC    13.354532
Name: Item_Weight, dtype: float64

In [25]:
mean_weight =data.groupby('Item_Type')['Item_Weight'].mean()
mean_weight

Item_Type
Baking Goods             12.277108
Breads                   11.346936
Breakfast                12.768202
Canned                   12.305705
Dairy                    13.426069
Frozen Foods             12.867061
Fruits and Vegetables    13.224769
Hard Drinks              11.400328
Health and Hygiene       13.142314
Household                13.384736
Meat                     12.817344
Others                   13.853285
Seafood                  12.552843
Snack Foods              12.987880
Soft Drinks              11.847460
Starchy Foods            13.690731
Name: Item_Weight, dtype: float64

In [26]:
datax = data[-data['Item_Weight'].isnull()]
datay = data[data['Item_Weight'].isnull()]

In [27]:
datax

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0                 FD        9.300  ...  Supermarket Type1          3735.1380
1                 DR        5.920  ...  Supermarket Type2           443.4228
2                 FD       17.500  ...  Supermarket Type1          2097.2700
3                 FD       19.200  ...      Grocery Store           732.3800
4                 NC        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518              FD        6.865  ...  Supermarket Type1          2778.3834
8519              FD        8.380  ...  Supermarket Type1           549.2850
8520              NC       10.600  ...  Supermarket Type1          1193.1136
8521              FD        7.210  ...  Supermarket Type2          1845.5976
8522              DR       14.800  ...  Supermarket Type1           765.6700

[7060 rows x 12 columns]

In [28]:
datay

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7                 FD          NaN  ...  Supermarket Type3          4022.7636
18                DR          NaN  ...  Supermarket Type3          2303.6680
21                FD          NaN  ...  Supermarket Type3          4064.0432
23                FD          NaN  ...      Grocery Store           214.3876
29                FD          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485              DR          NaN  ...  Supermarket Type3          6261.8490
8487              DR          NaN  ...  Supermarket Type3          4111.3150
8488              NC          NaN  ...  Supermarket Type3          2756.4120
8490              FD          NaN  ...      Grocery Store           487.3656
8504              NC          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [29]:
'Others' in mean_weight

True

In [30]:
def replace_null_weight(x):
  if x in mean_weight:
    return ('%.2f'%mean_weight[x])
  else:
    return ('%.2f'%data['Item_Weight'].mean())

In [31]:
datay['Item_Weight'] = datay['Item_Type'].apply(replace_null_weight)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
datax.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FD         9.30  ...  Supermarket Type1          3735.1380
1              DR         5.92  ...  Supermarket Type2           443.4228
2              FD        17.50  ...  Supermarket Type1          2097.2700
3              FD        19.20  ...      Grocery Store           732.3800
4              NC         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [33]:
datay.head()

   Item_Identifier Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7               FD       12.99  ...  Supermarket Type3          4022.7636
18              DR       11.40  ...  Supermarket Type3          2303.6680
21              FD       12.28  ...  Supermarket Type3          4064.0432
23              FD       12.28  ...      Grocery Store           214.3876
29              FD       12.31  ...      Grocery Store           125.8362

[5 rows x 12 columns]

In [34]:
data2 = pd.concat((datax, datay), ignore_index = True)

In [35]:
data2.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [36]:
datay = data2[data2['Item_Identifier']== 'NC']
datax = data2[data2['Item_Identifier']!= 'NC']

In [37]:
datay

     Item_Identifier Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
4                 NC        8.93  ...  Supermarket Type1           994.7052
15                NC        11.8  ...  Supermarket Type2          1621.8888
19                NC        14.6  ...  Supermarket Type1          1587.2672
21                NC          13  ...  Supermarket Type1           838.9080
26                NC        18.6  ...  Supermarket Type2          2741.7644
...              ...         ...  ...                ...                ...
8504              NC       13.14  ...      Grocery Store           451.4124
8512              NC       13.38  ...      Grocery Store           159.7920
8516              NC       13.14  ...  Supermarket Type3          1653.8472
8520              NC       13.85  ...  Supermarket Type3          2756.4120
8522              NC       13.38  ...  Supermarket Type3          4138.6128

[1599 rows x 12 columns]

In [38]:
datax

     Item_Identifier Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0                 FD         9.3  ...  Supermarket Type1          3735.1380
1                 DR        5.92  ...  Supermarket Type2           443.4228
2                 FD        17.5  ...  Supermarket Type1          2097.2700
3                 FD        19.2  ...      Grocery Store           732.3800
5                 FD      10.395  ...  Supermarket Type2           556.6088
...              ...         ...  ...                ...                ...
8515              FD       12.99  ...      Grocery Store           367.5216
8517              FD       12.99  ...      Grocery Store           459.4020
8518              DR       11.85  ...  Supermarket Type3          6261.8490
8519              DR       11.85  ...  Supermarket Type3          4111.3150
8521              FD       13.22  ...      Grocery Store           487.3656

[6924 rows x 12 columns]

In [39]:
datay['Item_Fat_Content'].unique()

array(['Low Fat', 'low fat', 'LF'], dtype=object)

In [40]:
datay['Item_Fat_Content'].str.replace('LF', 'NE')

4       Low Fat
15      Low Fat
19      Low Fat
21      Low Fat
26      Low Fat
         ...
8504    Low Fat
8512    Low Fat
8516    Low Fat
8520    Low Fat
8522    Low Fat
Name: Item_Fat_Content, Length: 1599, dtype: object

In [41]:
data3 = pd.concat((datax,datay),ignore_index=True)

In [42]:
data3.head()

  Item_Identifier Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FD         9.3  ...  Supermarket Type1          3735.1380
1              DR        5.92  ...  Supermarket Type2           443.4228
2              FD        17.5  ...  Supermarket Type1          2097.2700
3              FD        19.2  ...      Grocery Store           732.3800
4              FD      10.395  ...  Supermarket Type2           556.6088

[5 rows x 12 columns]

In [43]:
data3['Outlet_Identifier'].unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT045', 'OUT017',
       'OUT046', 'OUT035', 'OUT027', 'OUT019'], dtype=object)

In [44]:
def replace_outlet_identifier(x):
  return x[-2:]

In [45]:
data3['Outlet_Identifier'] = data['Outlet_Identifier'].apply(replace_outlet_identifier)

In [46]:
data3.head()

  Item_Identifier Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FD         9.3  ...  Supermarket Type1          3735.1380
1              DR        5.92  ...  Supermarket Type2           443.4228
2              FD        17.5  ...  Supermarket Type1          2097.2700
3              FD        19.2  ...      Grocery Store           732.3800
4              FD      10.395  ...  Supermarket Type2           556.6088

[5 rows x 12 columns]

In [47]:
data3['Age'] = 2021 - data3['Outlet_Establishment_Year']

In [48]:
data3.head()

  Item_Identifier Item_Weight  ... Item_Outlet_Sales  Age
0              FD         9.3  ...         3735.1380   22
1              DR        5.92  ...          443.4228   12
2              FD        17.5  ...         2097.2700   22
3              FD        19.2  ...          732.3800   23
4              FD      10.395  ...          556.6088   12

[5 rows x 13 columns]

In [49]:
data4 = data3.drop('Outlet_Establishment_Year', axis= 'columns')

In [50]:
data4.head()

  Item_Identifier Item_Weight  ... Item_Outlet_Sales  Age
0              FD         9.3  ...         3735.1380   22
1              DR        5.92  ...          443.4228   12
2              FD        17.5  ...         2097.2700   22
3              FD        19.2  ...          732.3800   23
4              FD      10.395  ...          556.6088   12

[5 rows x 12 columns]

In [51]:
data4['Outlet_Size'].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [52]:
data4['Outlet_Location_Type'].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [53]:
data4['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [54]:
data4.groupby('Outlet_Type')['Outlet_Size'].value_counts()

Outlet_Type        Outlet_Size
Grocery Store      Small           528
Supermarket Type1  Small          1860
                   High            932
                   Medium          930
Supermarket Type2  Medium          928
Supermarket Type3  Medium          935
Name: Outlet_Size, dtype: int64

In [55]:
data4.groupby('Outlet_Location_Type')['Outlet_Size'].value_counts()

Outlet_Location_Type  Outlet_Size
Tier 1                Small          1458
                      Medium          930
Tier 2                Small           930
Tier 3                Medium         1863
                      High            932
Name: Outlet_Size, dtype: int64

In [56]:
data4.groupby('Outlet_Location_Type')['Outlet_Type'].value_counts()

Outlet_Location_Type  Outlet_Type
Tier 1                Supermarket Type1    1860
                      Grocery Store         528
Tier 2                Supermarket Type1    2785
Tier 3                Supermarket Type3     935
                      Supermarket Type1     932
                      Supermarket Type2     928
                      Grocery Store         555
Name: Outlet_Type, dtype: int64

In [57]:
datay =data4[-data4['Outlet_Size'].isnull()]
datax = data4[data4['Outlet_Size'].isnull()]

In [58]:
datax.head()

   Item_Identifier Item_Weight  ... Item_Outlet_Sales  Age
3               FD        19.2  ...          732.3800   23
6               FD        16.2  ...         1076.5986   19
7               FD        19.2  ...         4710.5350   14
20              FD       5.925  ...          178.4344   23
21              FD       19.25  ...          163.7868   23

[5 rows x 12 columns]

In [59]:
def fix_null_outlet_size(x):
  if (x == 'Grocery Store') | (x == 'Supermarket Type1'):
    return 'Small'
  else:
    return 'Medium'

In [60]:
datax['Outlet_Size'] = datax['Outlet_Size'].apply(fix_null_outlet_size)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [61]:
datax.head()

   Item_Identifier Item_Weight  ... Item_Outlet_Sales  Age
3               FD        19.2  ...          732.3800   23
6               FD        16.2  ...         1076.5986   19
7               FD        19.2  ...         4710.5350   14
20              FD       5.925  ...          178.4344   23
21              FD       19.25  ...          163.7868   23

[5 rows x 12 columns]

In [62]:
data5 = pd.concat((datax,datay), ignore_index=True)

In [63]:
data5.head()

  Item_Identifier Item_Weight  ... Item_Outlet_Sales  Age
0              FD        19.2  ...          732.3800   23
1              FD        16.2  ...         1076.5986   19
2              FD        19.2  ...         4710.5350   14
3              FD       5.925  ...          178.4344   23
4              FD       19.25  ...          163.7868   23

[5 rows x 12 columns]

In [64]:
data5.isnull().sum()

Item_Identifier         0
Item_Weight             0
Item_Fat_Content        0
Item_Visibility         0
Item_Type               0
Item_MRP                0
Outlet_Identifier       0
Outlet_Size             0
Outlet_Location_Type    0
Outlet_Type             0
Item_Outlet_Sales       0
Age                     0
dtype: int64

In [67]:
data5.describe()

       Item_Visibility     Item_MRP  Item_Outlet_Sales          Age
count      8523.000000  8523.000000        8523.000000  8523.000000
mean          0.066132   140.992782        2181.288914    23.168133
std           0.051598    62.275067        1706.499616     8.371760
min           0.000000    31.290000          33.290000    12.000000
25%           0.026989    93.826500         834.247400    17.000000
50%           0.053931   143.012800        1794.331000    22.000000
75%           0.094585   185.643700        3101.296400    34.000000
max           0.328391   266.888400       13086.964800    36.000000